
@{
    ViewBag.Title = "Tin Tức";
}

<section class="tintuc-scv">
    <div class="w100"><h1 class="tit-h1 tit-border-b3 pull-left marb20 padb20 font30 UTMHelvetIns cl_nau">Tin tức</h1></div>
    <div class="row">
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Nên tưới cây bằng nước máy hay nước đun sôi để nguội?" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/08/nen-tuoi-cay-bang-nuoc-may-hay-nuoc-dun-soi-de-nguoi-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="nên tưới nước máy hay nước đun sôi để nguội" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/08/nen-tuoi-cay-bang-nuoc-may-hay-nuoc-dun-soi-de-nguoi-350x245.jpg" class="w100 wp-post-image" alt="nên tưới nước máy hay nước đun sôi để nguội" /></noscript>
            </a>
            <a href="#" title="Nên tưới cây bằng nước máy hay nước đun sôi để nguội?" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Nên tưới cây bằng nước máy hay nước đun sôi để nguội?</h3></a>
            <div class="text-justify">
                Vì sao lại lựa chọn hai loại nước này? Vì nếu bạn ở thành phố và văn phòng thì thường chỉ có hai lựa chọn này là tiện nhất….
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="8 yếu tố giúp cây trồng trong nhà luôn xanh tốt" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/08/yeu-to-giup-cay-canh-trong-nha-xanh-tot-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="các yếu tố giúp cây trồng trong nhà xanh tốt" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/08/yeu-to-giup-cay-canh-trong-nha-xanh-tot-350x245.jpg" class="w100 wp-post-image" alt="các yếu tố giúp cây trồng trong nhà xanh tốt" /></noscript>
            </a>
            <a href="#" title="8 yếu tố giúp cây trồng trong nhà luôn xanh tốt" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">8 yếu tố giúp cây trồng trong nhà luôn xanh tốt</h3></a>
            <div class="text-justify">
                Trong thời đại hiện nay, cây trồng trong nhà không chỉ để&nbsp;trang trí mà còn mang lại nhiều lợi ích cho sức khỏe và tinh thần của con người….
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="10 loại cây trừ tà trong tháng cô hồn" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/08/10-loai-cay-tru-ta-trong-thang-co-hon-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="10 loại cây trừ tà trong tháng cô hồn" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/08/10-loai-cay-tru-ta-trong-thang-co-hon-350x245.jpg" class="w100 wp-post-image" alt="10 loại cây trừ tà trong tháng cô hồn" /></noscript>
            </a>
            <a href="#" title="10 loại cây trừ tà trong tháng cô hồn" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">10 loại cây trừ tà trong tháng cô hồn</h3></a>
            <div class="text-justify">
                Tháng cô hồn, hay tháng 7 âm lịch, là thời điểm mà nhiều người quan niệm là cửa địa ngục mở, các vong linh trở về dương thế. Để…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Vì sao cây cảnh trong nhà bị vàng và nâu đầu lá" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/07/cay-canh-trong-nha-bi-vang-nau-dau-la-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="Cây cảnh trong nhà bị vàng và nâu đầu lá" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/07/cay-canh-trong-nha-bi-vang-nau-dau-la-350x245.jpg" class="w100 wp-post-image" alt="Cây cảnh trong nhà bị vàng và nâu đầu lá" /></noscript>
            </a>
            <a href="#" title="Vì sao cây cảnh trong nhà bị vàng và nâu đầu lá" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Vì sao cây cảnh trong nhà bị vàng và nâu đầu lá</h3></a>
            <div class="text-justify">
                Cây cảnh trong nhà không chỉ làm đẹp không gian sống mà còn giúp thanh lọc không khí và tạo cảm giác thư thái. Tuy nhiên, một vấn đề…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="5 loại cây kim tiền phổ biến và hiếm gặp hiện nay" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/05/cac-loai-kim-tien-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="các loại kim tiền" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2024/05/cac-loai-kim-tien-350x245.jpg" class="w100 wp-post-image" alt="các loại kim tiền" /></noscript>
            </a>
            <a href="#" title="5 loại cây kim tiền phổ biến và hiếm gặp hiện nay" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">5 loại cây kim tiền phổ biến và hiếm gặp hiện nay</h3></a>
            <div class="text-justify">
                Các bạn có thể nhìn đâu đó có cây kim tiền lá màu vàng sữa, cũng có lúc thấy màu đen. Vậy cây kim tiền có những loại…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Những loại cây ít rụng lá xanh tốt quanh năm" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2023/12/cay-khong-rung-la-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="cay-khong-rung-la" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2023/12/cay-khong-rung-la-350x245.jpg" class="w100 wp-post-image" alt="cay-khong-rung-la" /></noscript>
            </a>
            <a href="#" title="Những loại cây ít rụng lá xanh tốt quanh năm" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Những loại cây ít rụng lá xanh tốt quanh năm</h3></a>
            <div class="text-justify">
                Một trong những đặc tính của cây mà được chủ nhà và các chủ đầu tư quan tâm đó là cây có rụng lá hay không? Xanh tốt quanh…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Cách chăm sen đá vào mùa đông" class="img-hover transition">
                <img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2023/12/sen-da-len-mau-350x245.jpg" class="w100 wp-post-image lazyloaded" alt="sen-da-len-mau" data-ll-status="loaded"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2023/12/sen-da-len-mau-350x245.jpg" class="w100 wp-post-image" alt="sen-da-len-mau" /></noscript>
            </a>
            <a href="#" title="Cách chăm sen đá vào mùa đông" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Cách chăm sen đá vào mùa đông</h3></a>
            <div class="text-justify">
                Thời tiết miền bắc bắt đầu chuyển dần sang mùa đông. Thời tiết mà cây cối bắt đầu rụng lá không còn phát triển mạnh mẽ và rực rỡ….
            </div>
        </div>
       
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Cây ngũ da bì có mấy loại" class="img-hover transition">
                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="no-images" class="w100" data-lazy-src="https://via.placeholder.com/350x245?text=NO-IMG"><noscript><img src="https://via.placeholder.com/350x245?text=NO-IMG" alt="no-images" class="w100"></noscript>

            </a>
            <a href="#" title="Cây ngũ da bì có mấy loại" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Cây ngũ da bì có mấy loại</h3></a>
            <div class="text-justify">
                Ngũ da bì loại cây cảnh được rất nhiều người ưa truộng với nhiều tác dụng. Như trang trí hay có thể làm thực phẩm, làm dược liệu. Vì…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Cây ngũ da bì có độc không" class="img-hover transition">
                <img width="350" height="245" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20245'%3E%3C/svg%3E" class="w100 wp-post-image" alt="cây ngũ da bì" data-lazy-src="https://webcaycanh.com/wp-content/uploads/2022/11/cay-ngu-da-bi-co-doc-khong-350x245.jpeg"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2022/11/cay-ngu-da-bi-co-doc-khong-350x245.jpeg" class="w100 wp-post-image" alt="cây ngũ da bì" /></noscript>
            </a>
            <a href="#" title="Cây ngũ da bì có độc không" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Cây ngũ da bì có độc không</h3></a>
            <div class="text-justify">
                Cây ngũ da bì là loại cây mang nhiều lợi ích về trang chí và phong thủy. Thậm chí là một loại dược liệu chữa bệnh.Tuy nhiên vẫn còn…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Tuổi thọ của sen đá" class="img-hover transition">
                <img width="350" height="245" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20245'%3E%3C/svg%3E" class="w100 wp-post-image" alt="" data-lazy-src="https://webcaycanh.com/wp-content/uploads/2022/11/cac-loai-sen-da-dep-sen-phat-dai-350x245.jpg"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2022/11/cac-loai-sen-da-dep-sen-phat-dai-350x245.jpg" class="w100 wp-post-image" alt="" /></noscript>
            </a>
            <a href="#" title="Tuổi thọ của sen đá" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Tuổi thọ của sen đá</h3></a>
            <div class="text-justify">
                Sen đá là loại cây cảnh để bàn được rất nhiều người ưa truộng. Kể cả về mặt phong thủy lẫn thẩm mĩ. Và chính vì tính ưa truộng…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Các loại sen đá ưa nước" class="img-hover transition">
                <img width="350" height="245" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20245'%3E%3C/svg%3E" class="w100 wp-post-image" alt="" data-lazy-src="https://webcaycanh.com/wp-content/uploads/2022/11/cay-sen-da-la-thom-1-350x245.jpg"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2022/11/cay-sen-da-la-thom-1-350x245.jpg" class="w100 wp-post-image" alt="" /></noscript>
            </a>
            <a href="#" title="Các loại sen đá ưa nước" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Các loại sen đá ưa nước</h3></a>
            <div class="text-justify">
                Sen đá là loại cây cảnh để bàn được rất nhiều người ưa truộng. Với đa dạng hình dáng, màu sắc nên đặc tính và cách chăm sóc…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Các loại sen đá quý hiếm nhất" class="img-hover transition">
                <img width="350" height="245" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20245'%3E%3C/svg%3E" class="w100 wp-post-image" alt="" data-lazy-src="https://webcaycanh.com/wp-content/uploads/2022/11/sen-da-mong-rong-350x245.jpg"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2022/11/sen-da-mong-rong-350x245.jpg" class="w100 wp-post-image" alt="" /></noscript>
            </a>
            <a href="#" title="Các loại sen đá quý hiếm nhất" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Các loại sen đá quý hiếm nhất</h3></a>
            <div class="text-justify">
                Sen đá là loại cây để bàn đẹp và phong thủy. Vì vậy hãy cùng webcaycanh tìm hiểu các loại sen đá quý hiếm nhất nhé.
                Top những loại…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Những loại sen đá khó trồng" class="img-hover transition">
                <img width="350" height="245" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20245'%3E%3C/svg%3E" class="w100 wp-post-image" alt="" data-lazy-src="https://webcaycanh.com/wp-content/uploads/2022/11/sen-da-phat-ba-350x245.jpg"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2022/11/sen-da-phat-ba-350x245.jpg" class="w100 wp-post-image" alt="" /></noscript>
            </a>
            <a href="#" title="Những loại sen đá khó trồng" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Những loại sen đá khó trồng</h3></a>
            <div class="text-justify">
                Sen đá hay có tên gọi khác là Hoa đá là một loại cây có sức sống mạnh mẽ, có thể sống được ở nhiều điều kiện khí…
            </div>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <a href="#" title="Tác dụng của cây kim tiền" class="img-hover transition">
                <img width="350" height="245" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20350%20245'%3E%3C/svg%3E" class="w100 wp-post-image" alt="cây kim tiền webcaycanh" data-lazy-src="https://webcaycanh.com/wp-content/uploads/2022/11/cay-kim-tien-3-842-350x245.jpg"><noscript><img width="350" height="245" src="https://webcaycanh.com/wp-content/uploads/2022/11/cay-kim-tien-3-842-350x245.jpg" class="w100 wp-post-image" alt="cây kim tiền webcaycanh" /></noscript>
            </a>
            <a href="#" title="Tác dụng của cây kim tiền" class=""><h3 class="font18 tit-border-b2 relative cl_xanh6 mb-3 mt-3 pb-2 " style="/*height: 25px; overflow: hidden;*/">Tác dụng của cây kim tiền</h3></a>
            <div class="text-justify">
                Cây kim tiền vốn là một loại cây cảnh phổ biến trên thị trường. Vì xét về mặt phong thủy thì cây kim tiền mang ý nghĩa hút lộc,…
            </div>
        </div>
    </div>
</section>